In [51]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

import warnings 
warnings.filterwarnings('ignore')
now = datetime.now()
# current_time = now.strftime("%Y-%m-%d %H:%M:%S")
current_time = now.strftime("%Y-%m-%d")
current_time = pd.to_datetime(current_time)
current_time_second = now.strftime("%S")
current_time_second

'31'

In [35]:
org_name = "aoe1"

In [70]:
sheet_id = "16O7RYWUVLRpS3ldJ3tUiWfWsfs794QGy3zJjVBQU_bE" #update ID here
sheet_base = "https://docs.google.com/spreadsheets/d/{0}/gviz/tq?tqx=out:csv&sheet=".format(sheet_id)
#     print(biomarkers_sheet_base)
df_google = pd.read_csv(sheet_base)


df_google['Expire Date'] = pd.to_datetime(df_google['Expire Date'])    
df_google["Orginize Name"] =df_google["Orginize Name"].str.lower()
df_google
#     df_google['Expire Date'][0].strftime("%Y-%m-%d")

  Orginize Name PC Name Expire Date Project Name
0           aoe     aoe  2050-07-01         msgs
1          aoe1    aoe1  2010-07-02         msg2

In [47]:
df_google["Expire Date"][0]

Timestamp('2050-07-01 00:00:00')

In [73]:
org_name = "aoe"

org_name = org_name.lower()
print(org_name)

if org_name in df_google["PC Name"].tolist is True:
    print("Yes")
df_google["PC Name"]

aoe

TypeError: argument of type 'method' is not iterable

In [75]:
 df_google["PC Name"].tolist()

['aoe', 'aoe1']

In [62]:
# df.index[df['BoolCol'] == True].tolist()


df_google.index[df_google["Orginize Name"] == "aoe"][0]

0

In [66]:
tem = 0 #flag if given org_name(as a perameter) not in DF

#run if given org_name(as a perameter) is not expire
if org_name.lower() in df_google["Orginize Name"].to_list():
    tem_index_no = df_google.index[df_google["Orginize Name"] == "aoe"][0]
    tem = 1
#     print("yes present in DF")

current_time < df_google['Expire Date'][0]
if ((tem ==0) or (current_time < df_google['Expire Date'][tem_index_no] == False))
#     print("no")    
    if (int(current_time_second) % 2 == 0 ):
        
        i = 0
        while i <=10:
            print()

SyntaxError: invalid syntax (Temp/ipykernel_13520/4034205922.py, line 10)

In [69]:
tem_index_no = df_google.index[df_google["Orginize Name"] == "aoe"][0]
current_time < df_google['Expire Date'][tem_index_no]

True

True

In [37]:
df_google

  Orginize Name  PC Name Expire Date Project Name
0           aoe      NaN    7/1/2050         msgs

In [38]:
# df['event_date'] = pd.to_datetime(df['event_date'])    
df_google
# generate a df with rows where there is a match
# df_co = df.loc[df['event_date'] == da]

  Orginize Name  PC Name Expire Date Project Name
0           aoe      NaN  2050-07-01         msgs

In [40]:
# current_time = now.strftime("%Y-%m-%d %H:%M:%S")
current_time == df_google['Expire Date'][0].strftime("%Y-%m-%d")

False

True

In [40]:
type(df_google["Orginize Name"][0])

str