In [1]:
from selenium import webdriver

from webdriver_manager.chrome import ChromeDriverManager

from time import sleep

driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get('https://web.whatsapp.com')

input("Scan the QR")


import pandas as pd
pd.options.display.float_format = '{:,.0f}'.format 

# import module sys to get the type of exception
import sys
import time
import phonenumbers
pd.options.display.float_format = '{:,.0f}'.format

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 103.0.5060
[WDM] - Get LATEST chromedriver version for 103.0.5060 google-chrome
[WDM] - Driver [C:\Users\Asif.Kasi\.wdm\drivers\chromedriver\win32\103.0.5060.53\chromedriver.exe] found in cache
C:\Users\ASIF~1.KAS\AppData\Local\Temp/ipykernel_6100/1548004452.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

Scan the QR

# Reading Contact File

In [13]:
from selenium.webdriver.common.action_chains import ActionChains

In [2]:
var_folder_pdf_files = "C:\\Users\\Asif.Kasi\\Documents\\CNCD WORK\\UNI-k-projects\\Whatsapp Automation\\pdfs\\"
var_folder_pdf_files

'C:\\Users\\Asif.Kasi\\Documents\\CNCD WORK\\UNI-k-projects\\Whatsapp Automation\\pdfs\\'

In [3]:
var_file_contact = r"C:\Users\Asif.Kasi\Documents\CNCD WORK\UNI-k-projects\Whatsapp Automation\contacts - Copy.xlsx"
df = pd.read_excel(var_file_contact)
df
# seperating rows having null values in {study_IDs,Contact and File Name} columns and deleting from DF

df_errors = pd.DataFrame()

df_errors =df_errors.append(df[~df.study_id.notnull()])
df_errors =df_errors.append(df[~df.Contact.notnull()])
df_errors =df_errors.append(df[~df["File Name"].notnull()])
df_errors = df_errors.drop_duplicates()
df_errors
df_tem = pd.DataFrame()
df_tem["study_id"] = df_errors["study_id"]
df = (df.merge(df_tem, on='study_id', how='left', indicator=True)
    .query('_merge == "left_only"')
    .drop('_merge', 1))

df = df.reset_index(drop=True)
df

C:\Users\ASIF~1.KAS\AppData\Local\Temp/ipykernel_6100/648364759.py:15: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = (df.merge(df_tem, on='study_id', how='left', indicator=True)

    study_id    Name           Contact   File Name
0          1    Asif     3,002,067,741   1 (1).pdf
1          2  waseem     3,113,547,354   1 (2).pdf
2          3    saad     3,072,402,180   1 (3).pdf
3          4   Wrong               300   1 (4).pdf
4          5  wrong2    30,020,677,410   1 (5).pdf
5          7    Asif   923,002,067,741   1 (7).pdf
6          8  waseem   923,072,402,180   1 (8).pdf
7          9    saad   923,113,547,354   1 (9).pdf
8         10   Wrong            92,300  1 (10).pdf
9         11  wrong2 9,230,020,677,410  1 (11).pdf
10        13     NaN     3,002,067,741  1 (10).pdf

In [4]:
str(df["Contact"][0])[:-2]

'3002067741'

In [5]:
#changing phone number into number with country code
# df = df.astype(str)
list_write_country_code_with_num = [] 

for i in range(len(df)):
#     print(df["Contact"][i])
    list_write_country_code_with_num.append(phonenumbers.format_number(phonenumbers.parse(str(df["Contact"][i])[:-2], "PK"), phonenumbers.PhoneNumberFormat.INTERNATIONAL))
    
df["Contact"] = list_write_country_code_with_num 
df

    study_id    Name          Contact   File Name
0          1    Asif  +92 300 2067741   1 (1).pdf
1          2  waseem  +92 311 3547354   1 (2).pdf
2          3    saad  +92 307 2402180   1 (3).pdf
3          4   Wrong          +92 300   1 (4).pdf
4          5  wrong2  +92 30020677410   1 (5).pdf
5          7    Asif  +92 300 2067741   1 (7).pdf
6          8  waseem  +92 307 2402180   1 (8).pdf
7          9    saad  +92 311 3547354   1 (9).pdf
8         10   Wrong        +92 92300  1 (10).pdf
9         11  wrong2  +92 30020677410  1 (11).pdf
10        13     NaN  +92 300 2067741  1 (10).pdf

In [6]:
from datetime import datetime

# Single run

In [18]:
# print("Sending "+df["File Name"][0]+" to "+df["Contact"][0])

# driver.get('https://web.whatsapp.com/send?phone=+92 300 2067741')
# time.sleep(15)

# '''uncommit this code if you want to send msg first
# # msgHI = driver.find_element("xpath",'//div[@title = "Type a message"]')
# #  #     time.sleep(10)
# # msgHI.send_keys("HI how r u dear?")

# # send_button = driver.find_element("xpath",'//span[@data-icon="send"]')
# # send_button.click()
# '''



# attachment_box = driver.find_element("xpath",'//div[@title = "Attach"]')
# attachment_box.click()

# # filepath = r"C:\Users\Asif.Kasi\Documents\CNCD WORK\UNI-k-projects\Whatsapp Automation\pdfs\1 (1).pdf"
# filepath = var_folder_pdf_files + df["File Name"][0]
# image_box = driver.find_element("xpath",
#        '//input[@accept="image/*,video/mp4,video/3gpp,video/quicktime"]')



# image_box.send_keys(filepath)

# driver.implicitly_wait(10)
# # ActionChains(driver).move_to_element(image_box).click(image_box).perform()

# # sleep(3)


# send_button = driver.find_element("xpath",'//span[@data-icon="send"]')
# # time.sleep(3)

# send_button.click()

Sending 1 (1).pdf to +92 300 2067741

In [11]:
df

    study_id    Name          Contact   File Name
0          1    Asif  +92 300 2067741   1 (1).pdf
1          2  waseem  +92 311 3547354   1 (2).pdf
2          3    saad  +92 307 2402180   1 (3).pdf
3          4   Wrong          +92 300   1 (4).pdf
4          5  wrong2  +92 30020677410   1 (5).pdf
5          7    Asif  +92 300 2067741   1 (7).pdf
6          8  waseem  +92 307 2402180   1 (8).pdf
7          9    saad  +92 311 3547354   1 (9).pdf
8         10   Wrong        +92 92300  1 (10).pdf
9         11  wrong2  +92 30020677410  1 (11).pdf
10        13     NaN  +92 300 2067741  1 (10).pdf

# Loop code

In [29]:
# for i in range(len(df)):
tem = input()
for i in range(int(tem)):
    now = datetime.now()

    current_time = now.strftime("%Y-%m-%d %H:%M:%S")
#     print("Current Time =", current_time)
    print("Sending "+df["File Name"][i]+" to "+df["Contact"][i]+" Time: "+current_time)
    try:
#         driver.get('https://web.whatsapp.com/send?phone='+df["Contact"][i])
#         time.sleep(15)
#         msgHI = driver.find_element("xpath",'//div[@title = "Type a message"]')
#     #     time.sleep(10)
#         msgHI.send_keys("HI h")
#         send_button = driver.find_element("xpath",'//span[@data-icon="send"]')
#         send_button.click()
        driver.get('https://web.whatsapp.com/send?phone='+df["Contact"][1])
        time.sleep(25)
        '''uncommit this code if you want to send msg first
        # msgHI = driver.find_element("xpath",'//div[@title = "Type a message"]')
        #  #     time.sleep(10)
        # msgHI.send_keys("HI how r u dear?")

        # send_button = driver.find_element("xpath",'//span[@data-icon="send"]')
        # send_button.click()
        '''
        attachment_box = driver.find_element("xpath",'//div[@title = "Attach"]')
        
        attachment_box.click()
#         time.sleep(3)
        
#         filepath = r"C:\Users\Asif.Kasi\Documents\CNCD WORK\UNI-k-projects\Whatsapp Automation\pdfs\1 (1).pdf"
        filepath = var_folder_pdf_files + df["File Name"][i]
        time.sleep(3)
        
        image_box = driver.find_element("xpath",
                                        '//input[@accept="image/*,video/mp4,video/3gpp,video/quicktime"]')
        image_box.send_keys(filepath)
        sleep(5)
        
        send_button = driver.find_element("xpath",'//span[@data-icon="send"]')
        time.sleep(3)
        send_button.click()
        time.sleep(5)

    except:
#         print(e)
        print("Oops!", sys.exc_info()[0], "occurred.")
        df_errors =df_errors.append(df[df.study_id== df.study_id[i]])

1
Sending 1 (1).pdf to +92 300 2067741 Time: 2022-07-02 15:33:46

# tem code

In [52]:
sys.exc_info()

(None, None, None)

In [10]:
    

# url ="https://web.whatsapp.com/send?phone=+91xxxxxxxxxx"
# driver.get('https://web.whatsapp.com/send?phone=+923113547354')
# time.sleep(5)

In [9]:
pip install phonenumbers

^C
Note: you may need to restart the kernel to use updated packages.

In [15]:
my_number = phonenumbers.parse("+923121234568", "PK")
print(international_f)

+92 312 1234568

In [25]:
df

    study_id    Name           Contact   File Name
0          1    Asif     3,002,067,741   1 (1).pdf
1          2  waseem     3,072,402,180   1 (2).pdf
2          3    saad     3,113,547,354   1 (3).pdf
3          4   Wrong               300   1 (4).pdf
4          5  wrong2    30,020,677,410   1 (5).pdf
5          6  wrong3               NaN   1 (6).pdf
6          7    Asif   923,002,067,741   1 (7).pdf
7          8  waseem   923,072,402,180   1 (8).pdf
8          9    saad   923,113,547,354   1 (9).pdf
9         10   Wrong            92,300  1 (10).pdf
10        11  wrong2 9,230,020,677,410  1 (11).pdf
11        12  wrong3                92  1 (12).pdf
12        13     NaN     3,002,067,741  1 (10).pdf
13       NaN     NaN     3,002,067,741  1 (10).pdf

3002067741
3072402180
3113547354
300
30020677410
923002067741
923072402180
923113547354
92300
9230020677410
92
3002067741
3002067741

In [34]:
df

    study_id    Name          Contact   File Name
0          1    Asif  +92 300 2067741   1 (1).pdf
1          2  waseem  +92 307 2402180   1 (2).pdf
2          3    saad  +92 311 3547354   1 (3).pdf
3          4   Wrong          +92 300   1 (4).pdf
4          5  wrong2  +92 30020677410   1 (5).pdf
5          7    Asif  +92 300 2067741   1 (7).pdf
6          8  waseem  +92 307 2402180   1 (8).pdf
7          9    saad  +92 311 3547354   1 (9).pdf
8         10   Wrong        +92 92300  1 (10).pdf
9         11  wrong2  +92 30020677410  1 (11).pdf
10        12  wrong3           +92 92  1 (12).pdf
11        13     NaN  +92 300 2067741  1 (10).pdf
12       NaN     NaN  +92 300 2067741  1 (10).pdf

In [8]:
import phonenumbers
from phonenumbers import carrier, timezone, geocoder

my_number = phonenumbers.parse("+3002067741", "GB")

print(phonenumbers.is_valid_number(my_number))

print(carrier.name_for_number(my_number, "en"))
print(timezone.time_zones_for_number(my_number))
print(geocoder.description_for_number(my_number, 'en'))

ModuleNotFoundError: No module named 'phonenumbers'